.link-to-catalog
{
    text-decoration: none;
    color: var(--accent-primary);
    font-family: Proxima Nova, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 145.455% */
}

.link-to-catalog::before
{
    content: url("icons/left-arrow-blue.svg");
    margin-right: 16px;
}
.basket-container{
    display: flex;
    column-gap: 48px;
}