.nav{

    &__items{
        display: flex;
        column-gap: 10px;
        list-style-type: none;
    }

    &__link{
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    &__link:hover{
        color: #7070e5;
    }
}
