.index__static-wrapper
{
    display: flex;
    column-gap: 80px;
    justify-content: space-between;
}

.with-ellipse-bg {
    background: url("/images/bg-ellipse.svg") no-repeat;
    background-size: cover;
}